/* ==========Global=============== */

@import "fonts.css";
@import "reset.css";


@import "main.css";
@import "header.css";
@import "footer.css";



body {
    font-family: "Readex Pro", "Arial", sans-serif;
    line-height: 1.5;
    color: #000000;
    background: #f5f5f5;

}


.container {
    max-width: 1230px;
    margin: 10px auto;
    padding: 0 10px;
    height: 100%;

}

.wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column
}




