.same-tex {
    font-family: "montserrat", "Arial", sans-serif;
font-size: 20px;
line-height: 60px;
text-align: justify;
font-weight: 650;
font-style: normal;
background: #b702ff;
color: #ffffff;
}